.font {
  color: #dbdbdb;
  font-weight: 800;
  line-height: 24px;
  font-family: Oswald;
}

.heading {
  color: #ffffff;
  font-weight: 900 !important;
  line-height: 78px !important;
  font-family: Oswald !important;
  font-size: 68px !important;
  letter-spacing: 0% !important;
}
.btn{
  font-family: Oswald;

  font-family: Oswald !important;
 
  
}